@import '~antd/dist/antd.css';

@font-face {
  font-family: 'DINPro';
  src: font-url('dinpro/DINPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'DINPro';
  src: font-url('dinpro/DINPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINPro';
  src: font-url('dinpro/DINPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DINPro';
  src: font-url('dinpro/DINPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DINPro';
  src: font-url('dinpro/DINPro-Black.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

.bounty-shadow {
  box-shadow: 0 5px 15px -2px rgba(10, 16, 34, .4) !important;
}

.bounty-shadow:hover {
  box-shadow: 0 60px 120px -10px rgba(10, 16, 34, .2) !important;
}

.social {
  box-shadow: 0 2px 2px 0 rgba(10, 16, 34, .2);
  border-radius: 25px;
}

.post-text {
  text-align: center;
  margin-top: 12px;
  font-weight: 800;
  font-size: 10pt;
}

.reward-text {
  text-align: center;
  font-size: 32pt;
  font-weight: 300;
}

.details-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  margin-bottom: 7px;
}

.hideUpload > .ant-upload {
  display: none;
}

.ant-upload-drag-icon {
  margin-top: 30px;
}

.ant-upload-text {
  margin-bottom: 30px;
}

.claim-button {
  margin-left: 10px;
  margin-right: 10px;
}
