@import '~antd/dist/antd.css';

@font-face {
  font-family: 'DINPro';
  src: font-url('dinpro/DINPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'DINPro';
  src: font-url('dinpro/DINPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINPro';
  src: font-url('dinpro/DINPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DINPro';
  src: font-url('dinpro/DINPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DINPro';
  src: font-url('dinpro/DINPro-Black.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

.bounty-shadow {
  box-shadow: 0 5px 15px -2px rgba(10, 16, 34, .4) !important;
}

.bounty-shadow:hover {
  box-shadow: 0 60px 120px -10px rgba(10, 16, 34, .2) !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: DINPro, -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
